<div class="content">
    <h1>Add a book to the catalog.</h1>
    <form method="POST" action="/catalog/create">
    <label for="title">Title:</label>
    <input id="title" name="title" type="text">
    <label for="author">Author:</label>
    <input id="author" name="author" type="text">
    <input type="submit" value="Create">
    </form>
</div>