<div class="content">
    <div class="book-info book-details">
        <h2>{{title}}</h2> <h4>By Author: {{author}}</h4>
        <div class="details-links">
            <a href="/catalog/edit/{{id}}">Edit</a>
            <a onclick="fetch('http://localhost:3000/catalog/{{id}}', { method: 'DELETE' }); window.location.pathname = '/catalog';" href="javascript:void(0)">Delete</a>
        </div>
    </div>
</div>