<h1>{{name}}</h1>
<img
  class="cube"
  src="{{cube.imageUrl}}"
/>
<div class="details">
  <p><span>Description:</span>
    {{cube.description}}
  <p><span>Difficulty level:</span> {{cube.difficulty}}</p>
  <a class="btn" href="/">Back</a>
</div>