<div class="content">
    <h1>Book Catalog</h1>
    {{#if books}}
        <ul>
        {{#each books}}
            {{> book}}
        {{/each}}
        </ul>
    {{else}}
    <span class="info">No books in storage.</span>
    {{/if}}
</div>