<div class="content">
    <div class="book-info book-details">
        <h2>{{title}}</h2> <h4>By Author: {{author}}</h4>
        <div class="details-links">
            <a href="/edit/{{id}}">Edit</a>
            <a href="/delete/{{id}}">Delete</a>
        </div>
    </div>
</div>